/* Estilos generales */
.form_container {
    width: 30%;
    padding: 10px; /* Reduce el padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.651); /* Agrega una sombra suave */
}

@media screen and (max-width: 1000px) {
    .form_container {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .form_container {
        width: 65%;
    }
}

.bg-custom2 {
    background-color: #f5f5f5;
}

.bg-custom {
    background-color: #12172e;
}

.login-logo {
    max-width: 180px; /* Ajusta el tamaño de la imagen según sea necesario */
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos específicos para el formulario de Signup */
.signup-form {
    background-color: #f5f5f5; /* Fondo blanco claro similar al de Login */
    padding: 15px; /* Ajusta el padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(214, 214, 214, 0.479); /* Sombra suave */
    color: #12172e; /* Color del texto en contraste con el fondo */
    width: 40%; /* Ancho más grande para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    font-size: 14px; /* Tamaño de fuente más pequeño */
}

@media screen and (max-width: 1000px) {
    .signup-form {
        width: 80%; /* Ancho del formulario en pantallas medianas */
    }
}

@media screen and (max-width: 700px) {
    .signup-form {
        width: 90%; /* Ancho del formulario en pantallas pequeñas */
    }
}

.signup-form h3 {
    text-align: center;
    margin-bottom: 1px;
    font-size: 24px; /* Aumenta el tamaño de la fuente a 24px */
}


.signup-form label {
    font-weight: bold;
    font-size: 14px; /* Tamaño de fuente de las etiquetas */
}

.signup-form .form-control {
    width: 100%;
    padding: 8px; /* Ajusta el padding */
    margin-top: 5px;
    margin-bottom: 0px; /* Reduce el margen inferior */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px; /* Tamaño de fuente de los campos de entrada */
}

.signup-form .d-grid {
    margin-top: 10px; /* Reduce el margen superior */
}

.signup-form .btn-primary {
    width: 100%;
    padding: 10px; /* Ajusta el padding */
    border-radius: 5px;
    background-color: #12172e; /* Botón azul oscuro similar al de Login */
    color: #fff; /* Texto blanco */
    border: none;
    font-size: 14px; /* Tamaño de fuente del botón */
}

.signup-form .btn-primary:hover {
    background-color: #0D47A1; /* Cambio de color al pasar el ratón */
}

.signup-form .text-end {
    margin-top: 10px;
    font-size: 14px; /* Tamaño de fuente del texto de registro */
}
.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flex-container .mb-2 {
    flex: 1;
}

.flex-container .mb-2:first-child {
    margin-right: 10px;
}
