/* Form.css */

.form-container {
    background-color: #b3cde97c; /* Color de fondo azul */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../../assets/fondform_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.form-content {
    max-width: 600px;
    width: 100%;
    margin-top: 60px;
    background: linear-gradient(to bottom, rgba(7, 165, 204, 0.418), rgba(49, 19, 121, 0.596)), rgba(247, 250, 250, 0.308); /* Fondo blanco con transparencia */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra oscura */
}

.form-content h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.form-content .questions {
    display: flex;
    flex-direction: column;
}

.form-content .question {
    margin-bottom: 15px;
}

.form-content .form-label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    color: #08090a;
}

.form-content .form-control,
.form-content .form-select {
    width: calc(100% - 40px); /* Ajusta el ancho deseado */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-content .form-control:focus,
.form-content .form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-content .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form-content .btn-primary {
    width: calc(50% - 5px); /* Ancho ajustado para que ambos botones tengan el mismo tamaño */
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-content .btn-primary:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .form-content {
        padding: 20px;
    }

    .form-content .btn-primary {
        width: 100%;
        margin-top: 10px;
    }
}

.form-content .form-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form-content .btn-secondary,
.form-content .btn-primary {
    width: calc(50% - 5px); /* Ajuste para el espacio entre los botones */
    padding: 12px;
    font-size: 16px; /* Ajusta el tamaño de fuente si es necesario */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-content .btn-secondary {
    background-color: #6a0b86; /* Color de fondo gris */
    color: #fff; /* Color de texto blanco */
}

.form-content .btn-primary {
    background-color: #0a76db; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
}

.form-content .btn-secondary:hover {
    background-color: #aa53e49d; /* Color de fondo gris más oscuro al pasar el ratón */
}

.form-content .btn-primary:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el ratón */
}

@media (max-width: 768px) {
    .form-content .btn-secondary,
    .form-content .btn-primary {
        width: 100%;
        margin-top: 10px;
    }
}
